WALLET_PRIVATE_KEY=your_wallet_private_key_here


// Goldenfleece
// QHsw-xS@?J9h-D.213eqwsd
# ===========================================
# TEMPORARY (Supabase - Will be replaced)
# ===========================================
 
NEXT_PUBLIC_SUPABASE_URL=https://uvzxatcdngsbnowokgng.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here

ALCHEMY_API_KEY=your_alchemy_api_key_here
ALCHEMY_RPC_URL=https://solana-devnet.g.alchemy.com/v2/your_alchemy_api_key_here
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
# Mint ID =    AJujcxZiQ1jUvSixiFLQNWFCpUtMuVsbyPCQ8ByU3jvf
 
# ===========================================
# REQUIRED FOR PRODUCTION
# ===========================================
 
# WalletConnect Configuration
# Get your project ID from: https://cloud.walletconnect.com
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=your_walletconnect_project_id
 
# Backend API Configuration (to be set when backend is ready)
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_API_KEY=your_api_key_here
 
# Frontend URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
 
# ===========================================
# BLOCKCHAIN CONFIGURATION
# ===========================================
 
# Network Selection
# Options: solana-devnet, solana-mainnet
NEXT_PUBLIC_BLOCKCHAIN_NETWORK=solana-devnet
NEXT_PUBLIC_SOLANA_CLUSTER=devnet
 
# Program Addresses (Solana)
NEXT_PUBLIC_PROJECT_REGISTRY_PROGRAM_ID=Dkrnk6B8MuiieXQzqhicbsPtGp7TY4HMZRNDJJFhu4R7
NEXT_PUBLIC_COMPLIANCE_PROGRAM_ID=5u14TuRE7ozsKketfqF4R7XPvi7bof9RA455VcKME3Vy
NEXT_PUBLIC_ALLOCATION_DISTRIBUTION_PROGRAM_ID =9RqVyvWA4ficqK351PoYh674mP1au4NmNzVM6LQcenjm
 
# Admin Wallet (Solana)
NEXT_PUBLIC_ADMIN_WALLET=7STXs2LXLimTiPBuvrcnE1u7vQFCw9GoCKmhs3QsuSk4

 
# Stablecoin Mint Addresses (Solana Devnet)
NEXT_PUBLIC_USDC_MINT=AJujcxZiQ1jUvSixiFLQNWFCpUtMuVsbyPCQ8ByU3jvf
NEXT_PUBLIC_USDT_MINT=Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB
 
# Treasury Wallet (Solana - your admin wallet for now)
NEXT_PUBLIC_TREASURY_WALLET=7STXs2LXLimTiPBuvrcnE1u7vQFCw9GoCKmhs3QsuSk4
 
# ===========================================
# OPTIONAL CONFIGURATIONS
# ===========================================
 
# Feature Flags
NEXT_PUBLIC_ENABLE_KYC=true
NEXT_PUBLIC_ENABLE_WALLET_CONNECTION=true
NEXT_PUBLIC_ENABLE_INVESTMENTS=true

# Add these  
SUMSUB_APP_TOKEN=your_sumsub_app_token_here
SUMSUB_SECRET_KEY=your_sumsub_secret_key_here
NEXT_PUBLIC_SUMSUB_LEVEL_NAME=basic-kyc-level

 
# Sentry Error Tracking (optional)
# NEXT_PUBLIC_SENTRY_DSN=your_sentry_dsn
# SENTRY_AUTH_TOKEN=your_sentry_auth_token
 
# ===========================================
# DEVELOPMENT ONLY
# ===========================================
 
# Enable debug mode
# NODE_ENV=development
 
# Enable verbose logging
# NEXT_PUBLIC_DEBUG=true
 